@layer commonForm {
  .formPart {
    padding: 1rem;
    background-color: white;
    border-radius: var(--radius);
  }

  .title {
    margin: 0;
  }
  .title:first-letter {
    text-transform: capitalize;
  }
}
