@layer commonForm {
  .formPart {
    padding: var(--padding-sm) var(--padding);
    background-color: white;
    border-radius: var(--radius);
  }

  .title {
    margin: 0;
  }

  .title:first-letter {
    text-transform: capitalize;
  }
}
