@layer commonForm {
  .formPart {
    padding: 0.9rem;
    background-color: white;
    border-radius: var(--radius);
    border: var(--border);
  }

  .title {
    margin: 0;
  }

  .title:first-letter {
    text-transform: capitalize;
  }
}
