.label {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 3px;
}

.wrapper {
  background-color: white;
  display: grid;
  place-items: center;
  padding: 1.5rem;
  border-radius: 15px;
  overflow-wrap: anywhere;
}

.wrapper:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper:last-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.name {
  justify-content: start;
}

.checkbox {
}
