.container {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  padding: 0.6rem var(--padding-lg);
  border-radius: 50px;
  background-color: var(--accent-light);
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  transition: opacity 0.15s;
}

@media (min-width: 600px) {
  .container {
    position: static;
  }
}

.score {
  font-family: Roboto, sans-serif;
  line-height: 1;
  font-size: 2.5rem;
}

.brief {
  line-height: 1.2;
  white-space: pre-line;
}
