.container {
  position: fixed;
  width: 60%;
  bottom: 1rem;
  right: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 50px;
  background-color: var(--accent-light);
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  line-height: 1;
  transition: opacity 0.15s;
}

@media (min-width: 600px) {
  .container {
    position: static;
  }
}

.score {
  font-family: Roboto, sans-serif;
  line-height: 0.85;
  font-size: 2.5rem;
}
