.wrapper {
  background-color: white;
}

.header {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
}

.menu {
  font-size: inherit;
}
