@import 'sanitize.css';
@import 'sanitize.css/forms.css';

* {
  accent-color: var(--accent);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  font-family: Montserrat, Roboto, -apple-system, sans-serif;
  color: var(--text-dark);
}

input[type='checkbox'],
input[type='radio'] {
  transform: scale(1.375);
}

.shadow {
  filter: drop-shadow(0 0 15px rgba(10, 10, 10, 0.15));
}

.invisible {
  opacity: 0;
}
