:root {
  --text-dark: #1e1e1e;
  --accent: hsl(360 40% 22%);
  --accent-light: hsl(360 60% 86%);
  --background: hsl(360 15% 95%);

  --padding-sm: 0.8rem;
  --padding: 1.2rem;
  --padding-lg: 1.6rem;

  --radius-sm: 5px;
  --radius: 15px;

  --gap-sm: 3px;
  --gap: 10px;
}
